version: 2
updates:
- package-ecosystem: maven
  directory: "/"
  schedule:
    interval: weekly
  target-branch: master
  reviewers:
  - MarkEWaite
  labels:
  - dependencies
  ignore:
  # the dependency is actually provided by the Web container, hence it is aligned with Jetty. See https://github.com/jenkinsci/jenkins/pull/5211
  - dependency-name: "jakarta.servlet:jakarta.servlet-api"
